@import "../../../styles.scss";

.formulary {
	width: 80%;
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.title {
		width: 100%;
	}
	.form-row {
		margin: 1em auto;
	}
	#button-row {
		margin-top: 2.5em;
	}
}
