/* You can add global styles to this file, and also import other style files */

$main-bg-color: #28527a;
$second-bg-color: #3572aa;

$main-font-color: #fff;
$second-font-color: #3d7bb4;

$light-accent-color: #fff;

$border-lines: 1px solid black;
